<h1>Interest Calculator</h1>

<div id="interest_calculator_main">
  <div id="interest_calculator">
    <%= form_for :interest_calculator, url: { action: :new }, method: :get, remote: true do |f|   %>
      <p>Сколько % составляет число</p>
      <%= number_field_tag :a_0, params[:a_0], step: :any, id: "first_number_0" %>
      <p>от числа</p>
      <%= number_field_tag :b_0, params[:b_0], step: :any, id: "second_number_0" %>
      <%= f.submit 'Calculate!', id: "number_to_number" %>
    <% end %>

    <% unless @result_0.nil? %>
      <p>Number <span id="first_0"><%= @first_0 %></span> from number <span id="second_0"><%= @second_0 %></span> = <label id="answer_0"></label>%</p>
    <% end %>
  </div>

_______________________________________________________________________________________________________

  <div id="interest_calculator">
    <%= form_for :interest_calculator, url: { action: :new }, method: :get, remote: true do |f|   %>
      <p>Сколько составляет</p>
      <%= number_field_tag :a_1, params[:a_1], step: :any, id: "first_number_1" %>
      <p>% от числа</p>
      <%= number_field_tag :b_1, params[:b_1], step: :any, id: "second_number_1" %>
      <%= f.submit 'Calculate!', id: "persent_from_number" %>
    <% end %>

    <% unless @result_1.nil? %>
      <p><span id="first_1"><%= @first_1 %></span>% от числа <span id="second_1"><%= @second_1 %></span> = <label id="answer_1"></label></p>
    <% end %>    
  </div>

_______________________________________________________________________________________________________

  <div id="interest_calculator">
    <%= form_for :interest_calculator, url: { action: :new }, method: :get, remote: true do |f|   %>
      <p>Прибавить</p>
      <%= number_field_tag :a_2, params[:a_2], step: :any, id: "first_number_2" %>
      <p>% к числу</p>
      <%= number_field_tag :b_2, params[:b_2], step: :any, id: "second_number_2" %>
      <%= f.submit 'Calculate!', id: "add_persent_to_number" %>
    <% end %>

    <% unless @result_1.nil? %>
      <p>Прибавить <span id="first_2"><%= @first_2 %></span>% к числу <span id="second_2"><%= @second_2 %></span> = <label id="answer_2"></label></p>
    <% end %>    
  </div>

_______________________________________________________________________________________________________

  <div id="interest_calculator">
    <%= form_for :interest_calculator, url: { action: :new }, method: :get, remote: true do |f|   %>
      <p>Вычесть</p>
      <%= number_field_tag :a_3, params[:a_3], step: :any, id: "first_number_3" %>
      <p>% из числа</p>
      <%= number_field_tag :b_3, params[:b_3], step: :any, id: "second_number_3" %>
      <%= f.submit 'Calculate!', id: "substract_persent_from_number" %>
    <% end %>

    <% unless @result_1.nil? %>
      <p>Вычесть <span id="first_3"><%= @first_3 %></span>% из числа <span id="second_3"><%= @second_3 %></span> = <label id="answer_3"></label></p>    
    <% end %>    
  </div>

_______________________________________________________________________________________________________  
</div>

